<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orgwork.renewed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity android:name="Activity.HelpDetailsActivity" />
        <activity android:name="Activity.HelpActivity" />
        <activity android:name="Activity.ChangePasswordActivity" />
        <activity android:name="Activity.AdministratorActivity" />
        <activity android:name="Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Activity.RecoveryActivity" />
        <activity android:name=".Menu" />
        <activity android:name="Activity.RegisterActivity" />
        <activity android:name="Activity.MainActivity" />
    </application>

</manifest>